.control-panel {
  display: flex;
  background-color: #efefef;
  padding: 1em 0;
  padding-right: 1em;
}

.control-panel__logo-container {
  width: 150px;
  height: 150px;
}

.control-panel__logo {
  width: 100%;
}

.control-panel__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 150px;
}

label {
  font-family: "Roboto Mono", monospace;
  color: #31ac22;
  font-size: 0.8em;
  margin: 0.8em 0;
}

@media (min-width: 700px) {
  .control-panel {
    box-shadow: none;
  }
}
