.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  display: flex;
  flex-direction: column;
}

.left-content,
.right-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: 800px) {
  .main-content {
    flex-direction: row;
  }
}

.last-updated {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  padding: 0 1em 0 1.2em;
}

.refresh-button {
  padding: 0.6em;
  border-radius: 50px;
  background: none;
  border: 1px solid #31ac22;
  font-size: 0.6em;
  font-family: "Roboto Mono", monospace;
  color: #31ac22;
}
